.swiper {
  width: 100%;
  height: 660px;
}

.swiper-button-prev::after {
  color: white;
  background: rgba(35, 36, 40, 1);
  padding: 20px 25px;
  margin-left: 50px;
  font-size: 20px;
  border-radius: 50%;
}

.swiper-button-next::after {
  color: white;
  background: rgba(35, 36, 40, 1);
  padding: 20px 25px;
  margin-right: 50px;
  font-size: 20px;
  border-radius: 50%;
}

.swiper-pagination {
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: gray;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: #fff;
}
